h1 {text-decoration: blue;}
h2 {text-decoration: crimson;}
h3 {text-decoration: green;}
header {text-align: center;}
img {box-shadow: 10px 10px 5px #ccc;}
section {background-color: grey;}
p {font-size: 14px;}
ul {border: yellowgreen;}